@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --color-medical: #0d9488;
  --color-medical-light: #ccfbf1;
  --color-medical-dark: #0f766e;
}
